$border-color: $red;

.tetrisContainer {
  @include horizonBox;
  z-index: 1;
  width: 100%;
  height: 100%;

  font-family: $TheJamsil;
  background: url("../public/tetris.png") no-repeat center center;
  background-size: cover;

  .tetris {
    @include verticalBox;
    align-items: center;
    position: relative;

    padding: 20px 20px 60px;
    margin: 0;

    background-color: #4b23ea;
    border-radius: $border-radius;
    box-shadow: 0px 100px 0px 0px #0e0438;

    h1 {
      padding-bottom: 15px;

      color: rgb(173, 192, 255);
    }

    .tetrisSection {
      @include horizonBox;
      justify-content: space-between;
      width: 370px;
      margin-bottom: 20px;

      h4 {
        padding: 8px 20px;
        line-height: 22px;

        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        font-size: 14px;
      }

      .startButton {
        min-height: 20px;
        padding: 20px;

        background: $red;
        box-sizing: border-box;
        border-radius: $border-radius;
        border: none;
        color: white;
        font-size: 18px;
        outline: none;
        cursor: pointer;
      }

      .display {
        display: flex;

        min-height: 20px;
        padding: 20px 30px;

        box-sizing: border-box;
        border-radius: $border-radius;
        color: #fff;
        background-color: #111;
        font-size: 16px;

        &.gameOver {
          color: $red;
        }
      }
    }
  }
}

.stage {
  display: grid;
  grid-template-columns: repeat(12, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap: 1px;
  background-color: #101c27;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);

  .cell {
    width: auto;

    &.black {
      background-color: black;
    }

    &.aqua {
      background-color: #50e3e6;
      border-right: 3px solid #41c5c7;
      border-bottom: 3px solid #41c5c7;
    }

    &.blue {
      background-color: $blue;
      border-right: 3px solid #004db1;
      border-bottom: 3px solid #004db1;
    }

    &.orange {
      background-color: #fc8719;
      border-right: 3px solid #d76800;
      border-bottom: 3px solid #d76800;
    }

    &.lemon {
      background-color: #eeff00;
      border-right: 3px solid #cbd80c;
      border-bottom: 3px solid #cbd80c;
    }

    &.green {
      background-color: #18df65;
      border-right: 3px solid #0cbd50;
      border-bottom: 3px solid #0cbd50;
    }

    &.purple {
      background-color: #6827d9;
      border-right: 3px solid #5112bf;
      border-bottom: 3px solid #5112bf;
    }

    &.red {
      background-color: $red;
      border-right: 3px solid #ce3f3f;
      border-bottom: 3px solid #ce3f3f;
    }
  }
}

.mobileButtons {
  display: none;
}

.modal {
  @include modal($border-color);

  top: 30%;
  transform: translateX(-15%);
}

@media (max-width: 1280px) {
  .tetrisContainer {
    .tetris {
      padding: 10px 10px 30px;

      h1 {
        padding-bottom: 5px;
        font-size: 18px;
      }

      .tetrisSection {
        width: 100%;
        margin-bottom: 10px;

        h4 {
          padding: 4px 8px;
          line-height: 14px;

          border-radius: 8px;
          font-size: 10px;
        }

        .startButton {
          min-height: 36px;
          padding: 8px;

          border-radius: 8px;
          font-size: 16px;
        }

        .display {
          @include horizonBox;
          min-height: 36px;
          padding: 4px 8px;

          border-radius: 8px;
          font-size: 12px;
        }
      }
    }
  }

  .stage {
    grid-template-columns: repeat(12, 20px);
    grid-template-rows: repeat(20, 20px);
  }

  .modal {
    transform: translateX(-25%);
  }
}

@media (max-width: 767px) {
  .tetrisContainer {
    .tetris {
      margin-top: 85px;
      padding: 10px 15px 65px;

      h1 {
        padding-bottom: 10px;
      }

      .tetrisSection {
        width: 100%;
        margin-bottom: 10px;

        h4 {
          padding: 3px 10px;
          line-height: 14px;

          border-radius: 8px;
          font-size: 10px;
        }

        .startButton {
          min-height: 30px;
          padding: 10px 8px;

          font-size: 13px;
        }

        .display {
          min-height: 30px;
          padding: 8px;

          font-size: 12px;
        }
      }
    }
  }

  .stage {
    grid-template-columns: repeat(12, 18px);
    grid-template-rows: repeat(20, 18px);
  }

  .mobileButtons {
    @include horizonBox;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    width: calc(100% - 40px);

    .mButton {
      @include horizonBox;
      padding: 10px 11px;

      background-color: #18a4f5;
      border-radius: 50%;
      color: white;
      font-size: 16px;

      &.fontAdjust {
        padding: 6px;
        font-size: 20px;
      }
    }
  }

  .modal {
    top: 30%;
    transform: translateX(0%);
  }
}
